:root {
  --background-color: #fcfaf9;
  --primary-color: #8ea89f;
  --font-color: #222;
  --success-color: #aac88d;
  --error-danger-color: #dd4b5a;
  --title-font: "Scope One";
  --body-font: "Quattrocento";
}

.App {
  text-align: center;
  font-family: var(--body-font);
  color: var(--font-color);
  width: 90%;
  max-width: 650px;
  height: 97vh;
  max-height: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 4px 15px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
}

.App-logo {
  height: 80px;
  fill: var(--font-color);
}

.App-header {
  background-color: #9cb8ae;
  height: 15%;
  padding: 2rem 1.5rem;
  color: var(--background-color);
  text-transform: uppercase;
}

.App-title {
  font-family: var(--title-font);
  font-size: 2rem;
  margin-bottom: 0;
}

.App-intro {
  font-size: large;
}

.App-content {
  height: 100%;
  font-size: 1.2rem;
  padding: 2rem;
}

.newItemForm {
  margin: 1em;
}

.newItemForm input {
  padding: 0.8rem;
  font-family: var(--body-font);
  font-size: inherit;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
}

.App-content ul {
  margin: 1em;
  padding: 0;
}

.App-content ul li {
  list-style-type: none;
  height: 1.2em;
  padding: 1em;
}

.App-content ul .active {
  font-weight: 600;
}

.App-content ul li input {
  margin: 0;
  margin-right: 1em;
}

.message {
  height: 1em;
}

.error {
  color: var(--error-danger-color);
}

.success {
  color: var(--success-color);
}

.removeButton {
  background: none;
  border: none;
  font-weight: bold;
  color: crimson;
  opacity: 0;
  height: 0;
  width: 1.5em;
  margin-left: 1em;
  padding: 0;
}

.removeButton svg {
  fill: var(--error-danger-color);
  vertical-align: bottom;
}

.App-content ul li:hover .removeButton,
.App-content ul input:focus ~ .removeButton,
.removeButton:focus,
.removeButton:active {
  opacity: 1;
  height: 1.5em;
}

footer {
  padding: 2rem;
}

footer a {
  padding: 1rem;
  font-family: var(--title-font);
  text-transform: uppercase;
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  border: 2px solid var(--primary-color);
}

footer a.active {
  font-weight: bold;
}
