.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 1.5rem;
  color: white;
}

.App-title {
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  font-size: 1.2rem;
  padding-top: 1.5rem;
}

.App-content ul {
  margin: 1em;
  padding: 0;
}

.App-content ul li {
  list-style-type: none;
  padding: 1rem;
}

.App-content ul li input {
  margin: 0;
  margin-right: 0.8em;
}

.error {
  color: crimson;
}

.success {
  color: seagreen;
}

.removeItem {
  background: none;
  border: none;
  font-weight: bold;
  color: crimson;
  opacity: 0;
  height: 0;
  margin-left: 0.8em;
  padding: 0;
}

.App-content ul li:hover .removeItem,
.App-content ul input:focus ~ .removeItem,
.removeItem:focus,
.removeItem:active {
  opacity: 1;
  height: auto;
}

footer a {
  padding: 1rem;
}

footer a.active {
  font-weight: bold;
}
